body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    background-color: #FEF9F4;
}

#account {
    background-color: #29293D;
    margin: 5px;
    float: right;
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 110px;
    background: url("header.jpg") repeat-x;
}

nav a, #account a {
    display: inline-block;
    text-decoration: none;
    padding: 0.5em 2em;
    color: #fff;
    margin: 0;
    border-right: 1px solid #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);

}

nav {
    display: inline-block;
    color: #E0E0EB;
    background-color: #984802;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);

}

.piet {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.piet li {
    list-style: none;
    float: left;
}

.piet li a:link, .piet li a:visited {
    position: relative;
    z-index: 9999;
    display: block;
    text-decoration: none;
    padding: 0.5em 2em;
    margin: 0;
    border-right: 1px solid #fff;
}

.piet li a:hover {
    background-color: #FABF8F;
}

main {
    border: 1px solid #000;
    border-radius: 0px;
    margin: 20px;
    padding: 10px 30px 30px 30px;
    font-size: 12pt;
}

main h1{
    font-family: 'Baloo Paaji', cursive;
}

.form{
    text-align: center;
}
footer{
    font-size: 10px;
    text-align: center;
}
img{
    margin: 8px;
}